<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Meeting Room</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.1">
                        <span class="input-label">Select Campus / Floor</span>
                        <select ng-model="data.floor.selected"
                            ng-options="item as item.label for item in data.floor.options"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <label class="item item-input item-date-icon positive-icon"
                        data-comp-id="dateInput.1">
                        <span class="input-label">Date</span>
                        <input date-format="MMM DD, YYY" max="2100-12-12" min="1900-01-01"
                            ng-model-options="{allowInvalid: true}" ng-model="data.date" type="date">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3">
                    <label class="item item-input item-time-icon positive-icon"
                        data-comp-id="timeInput.1">
                        <span class="input-label">Time</span>
                        <input ng-model="data.time" time-format="HH:mm" type="time">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.4">
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.2">
                        <span class="input-label">Duration</span>
                        <select ng-model="data.duration.selected"
                            ng-options="item as item.label for item in data.duration.options"></select>
                    </label>
                </div>
            </div>
            <button class="button button-block" data-comp-id="button.3">Search</button>
        </div>
    </ion-content>
</ion-view>